
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

#project_title {
    position: fixed;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    background: linear-gradient(180deg, rgb(255, 255, 255, 1) 0%, rgb(255, 255, 255, 0.8) 40%, rgb(255, 255, 255, 0.7) 100%);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 9999999;
}

#mainTitle {
    font-size: 2.8rem;
    margin-bottom:0.2rem;
}

#subTitle {
    font-size: 1rem;
}

#project_purpose {
    padding-top: 10em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
}

#project_purpose>div {
    width: 600px;
    font-size: 0.9rem;
    color: blue;
    word-break: keep-all
}

#project_content {
    /*margin-top: 3em;
margin-bottom: 3em;
display: flex;
justify-content: center;*/
}

#contentsContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:600px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
        margin-bottom: 45px;
        border: 1px solid #b8b8b8;
        border-radius: 5px;
        background-color: #ffffff;
}

#functionContainer {
    display: flex;
    border-bottom: 1px solid #cccccc;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

#contentsType {
    font-size: 1rem;
}

#functionLine {
    width: 1.5px;
    height: 20px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

#copyButton {
    width: 18px;
    height: 18px;
    cursor: pointer;
    padding: 7px;
    padding-top: 8px;
    right: 10px;
    -webkit-user-drag: none;
}

#copyButton:active {
    background-color: #eeeeee;
}

#saveButton {
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: 9px;
    -webkit-user-drag: none;
}

#deleteButton {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 5px;
    padding-top: 6px;
    -webkit-user-drag: none;
}

#deleteButton:active {
    background-color: #eeeeee;
}

#saveInputContainer {
    position: absolute;
    display: flex;
    height: 26px;
    top: 50px;
    right: 4px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    padding: 3px;
    background-color: #ffffff;
    justify-content: center;
    visibility: hidden;
}

#saveLabel {
    margin-left: 3px;
    line-height: 26px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: default;
    user-select: none;
}

#filenameInput {
    width: 120px;
    padding-top: 1px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #ffffff00;
    border: none;
    outline: none;
    font-size: 0.8rem;
}

#saveButton2 {
    border: 1px solid #cccccc;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 0.8rem;
    border-radius: 4px;
    color : black;
}

#saveButton2:hover {
    background-color: #e4e4e4;
}

#saveButton2:active {
    background-color: #dbdbdb;
}

#contents {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 0.9rem;
}

#inputcontentsContainer {
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 0px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    border-top: 1px solid #e0e0e0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#inputcontentsContainer2 {
    position: fixed;
    transform: translate(-50%, 0);
    width: 100%;
    left: 50%;
    bottom: 12.5px;
    height: 35px;
    display: flex;
    justify-content: center;
    flex-direction: raw;
}

#tagType {
    display: table;
    width: 75px;
    border: 1px solid #d3d3d3;
    background-color: #ececec;
    cursor: pointer;
    user-select: none;
}

#tagType:hover {
    border: 1px solid #d6d6d6;
    background-color: #f5f5f5;
}

#tagType:active {
    border: 1px solid #c5c5c5;
    background-color: #e2e2e2;
}

#tagType>p {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.8em;
}

#inputContents {
    width: 450px;
    font-size: 1rem;
    font-weight: lighter;
    border: 1px solid #e0e0e0;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#inputContents:focus {
    outline: none;
    border-top: 2px solid #adadad;
    border-left: 2px solid #adadad;
    border-bottom: 2px solid #adadad;
}

#writeButton {
    width: 65px;
    border: 1px solid #bdbdbd;
    background-color: #dcdcff;
    color: black;
    cursor: pointer;
}

#writeButton:hover {
    border: 1px solid #afafaf;
    background-color: #d0d0ff;
}

#writeButton:active {
    border: 1px solid #a2a2a2;
    background-color: #c1c1ff;
}

#footer {
    font-size: 0.7rem;
    color: #afafaf;
}

@media(max-width:800px) {
    #contentsContainer {
        width: 90%;
    }
    #inputcontentsContainer2 {
        width: 85%;
    }
    #inputContents {
        width: 100%;
    }
    #mainTitle {
        font-size: 1.8rem;
        margin-bottom: 0.2rem;
    }
    #subTitle {
        font-size: 0.8rem;
    }
    #project_purpose {
        padding-top: 8em;
    }
    #project_purpose>div {
        width: 90%;
    }
}
